---
services:
  nginx:
    image: nginx:1-alpine
    container_name: nginx
    ports:
      - "${HTTPS_PORT:-443}:443"
      - "${HTTP_PORT:-80}:80"
      - "${STREAM_PORT:-64}:64"
    restart: unless-stopped
    volumes:
      - ${DATA_ROOT:-/mnt/data}/nginx/ssl:/etc/ssl
      - ${DATA_ROOT:-/mnt/data}/nginx/letsencrypt:/etc/letsencrypt
      - ${DATA_ROOT:-/mnt/data}/nginx:/etc/nginx
      - ${DATA_ROOT:-/mnt/data}/nextcloud/html:/var/www/nextcloud
      - ${DATA_ROOT:-/mnt/data}/cryptpad:/cryptpad
      - /run/user/1000/ondemand:/sockets:ro
    networks:
      - proxy

networks:
  proxy:
    external: true
    name: proxy
